import(rphast)
import(rtfbs)
import(bigWig)
import(parallel)
import(grid)
import(cluster)
import(methods)
import(lattice)
import(latticeExtra)

export(CisBP.download, CisBP.zipload, CisBP.extdata, CisBP.group)
export(tfbs, tfbs.dirs, tfbs.createFromCisBP)
exportMethods(tfbs.getDistanceMatrix, tfbs.clusterMotifs, tfbs.getExpression, tfbs.drawLogo, tfbs.drawLogosForClusters)
exportMethods(tfbs.scanTFsite, tfbs.compareTFsite)
exportMethods(tfbs.selectByRandom, tfbs.selectByGeneExp)
exportClasses("tfbs")
exportClasses("tfbs.db")
exportClasses("CisBP.db")
export(print.tfbs.comparson, summary.tfbs.comparson, tfbs.reportComparson)
export(print.tfbs.finding, summary.tfbs.finding, tfbs.reportFinding)