import(rphast)
import(rtfbs)
import(bigWig)
import(parallel)
import(grid)
import(cluster)
import(methods)
import(lattice)
import(latticeExtra)

export(read.motif, reverse.complement, compare.motifs, read.seqfile.from.bed)
export(tfbs, tfbs.dirs, scanDb_rtfbs, scan_rtfbs)
exportClasses("tfbs")
exportMethods(tfbs.getDistanceMatrix, tfbs.clusterMotifs, tfbs.setUseMotifs.random, tfbs.getExpression, tfbs.drawLogo, tfbs.drawLogosForClusters, tfbs.scanTFsite, tfbs.compareTFsite, tfbs.selectByGeneExp)
export(comparative_scan_rtfbs.ms, comparative_scan_rtfbs, write.starchbed, comparative_scanDb_rtfbs)
export(seqLogo)
exportClasses("tfbs.db")
exportClasses("CisBP.db")
export(CisBP.download, CisBP.zipload, CisBP.extdata, tfbs.find, tfbs.group )
